{% extends 'base.html.twig' %}

{% block title %}
    Login
{% endblock %}


{% block body %}


<div class="container">
{% if error %}
    <div class="alert alert-danger">
        {{ error.messageKey | trans(error.messagedata, 'security') }}
    </div>
{% endif %}
    <form method="post" action="{{ path('login') }}">
        <div class="form-group">
            <label for="username">Nom de l'utilisateur</label>
            <input type="text" value={{ lastUsername }} id="username" name="_username" class="form-control">
        </div>

        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="_password" class="form-control">
        </div>

        <button class="btn btn-primary" type="submit">Envoyer</button>
    </form>
</div>
{% endblock %}