{% extends 'base.html.twig' %}

{% block title %}
    Agence QPhilippot
{% endblock %}

{% block body %}
 <div class="jumbotron">
    <h1 class="display-5">Agence QPhilippot</h1>
    <p class="lead">Better agence ever</p>
    <hr class="my-2">
</div>
<div class="container">
   <h2>Les derniers biens</h2>
   <div class="row flex">
       {% for property in properties %}
       <div class="col-md-3 col-sm-10">
       <div class="card">
               <img class="card-img-top" src="holder.js/100x180/" alt="">
               <div class="card-body">
                   <h4 class="card-title">
                       <a href="{{ path('property.show', {id: property.id, slug: property.slug }) }}">{{ property.title }}</a>
                   </h4>
                   <p class="card-text">{{ property.city  }} ({{ property.postalCode }})</p>
                   <p class="text-primary">{{ property.formattedPrice }} €</p>
               </div>
           </div>
       </div>
      
       {% endfor %}
   </div>
</div>
{% endblock %}